resources/schemas/mssp.xsd

<xs:schema targetNamespace="http://schemas.microsoft.com/ws/2005/07/securitypolicy"
  elementFormDefault="qualified"
  xmlns:tns="http://schemas.microsoft.com/ws/2005/07/securitypolicy"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">

  <xs:import namespace="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
    schemaLocation="ws-securitypolicy-1.1.xsd"/>

  <xs:element name="RsaToken" type="sp:TokenAssertionType"/>
  <xs:element name="MustNotSendCancel" type="sp:QNameAssertionType"/>
  <xs:element name="RequireClientCertificate" type="sp:QNameAssertionType"/>
  <xs:element name="SslContextToken" type="sp:TokenAssertionType"/>
</xs:schema>
